body{
    max-width: 80%;
    /* justify-content: center; */
    margin: 0 auto; */
}
.Nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Nav-center ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
    list-style: none;
}
.Nav-center ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.btn{
    background-color: green;
    color: white;
    display: flex;
    gap: 20px;
}
/* bannar section */
.bannar-top-text{
    color: #30B868;
}
.bannar{
    background: url(./assets/hero-bg.png);
    height: 674px;
}

.bannar-text{
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding-top: 200px;
    max-width: 600px;
    color: white;
}
.bannar-text h1{
    font-size: 60px;
    color: blanchedalmond;
}
.bannar .bannar-text{
    justify-content: center;
}
.bannar-botton{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bannar-botton .btn-1{
    display: flex;
    gap: 10px;
    background-color: #30B868;
    color: white;
    border-radius: 5px;

}
.bannar-botton .btn-2{
    background-color: none;
    color: none;
}
/* .bannar-botton .btn-1 img{
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
} */
.bannar-botton .btn-2:hover{
    background-color: #30B868;
    border: 0px solid;
    border-radius: 10px;
}
.bannar-top button{
    color: #30B868;
    border-radius: 10px ;
    padding: 5px 10px;
    border: none;
}

.card-text{
    text-align: center;
    margin: o auto;
}
.card-text h1{
    font-size: 40px;
}
.card-box{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30PX;
    gap: 30PX;
    
}
.card{
    box-shadow: 5px black;
}

.card-box .card img{
    background-color: #F95555;
    border-radius: 100px;
    padding: 10px;
}
/* Second Brain Section */
#brain{
    display: flex;
    gap: 60px;
    margin-top: 100px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right h1{
    font-size: 40px;
}
.check-circle{
    display: flex;
    align-items: center;
}
