body{
    /* max-width: 80%; */
    /* justify-content: center; */
    margin: 0 auto; */
}
.Nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
}
.Nav-center ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
    list-style: none;
}
.Nav-center ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.btn:hover{
    background-color: green;
    color: white;
    display: flex;
    gap: 20px;
}
/* bannar section */
.bannar-top-text{
    color: #30B868;
}
.bannar{
    background: url(./assets/hero-bg.png);
    height: 674px;
}

.bannar-text{
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding-top: 200px;
    max-width: 600px;
    color: white;
}
.bannar-text h1{
    font-size: 60px;
    color: blanchedalmond;
}
.bannar .bannar-text{
    justify-content: center;
}
.bannar-botton{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bannar-botton .btn-1{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
}
.btn-1:hover{
    background-color: #dd7850 ;
}
.btn-2{
    background-color: none;
    color: none;    
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
}
/* .bannar-botton .btn-1 img{
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
} */
.bannar-botton .btn-2:hover{
    background-color: #30B868;
    border: 0px solid;
    border-radius: 10px;
}
.bannar-top button{
    color: #30B868;
    border-radius: 10px ;
    padding: 5px 10px;
    border: none;
}
/* Notes Section */
.card-text{
    text-align: center;
    margin: o auto;
}
.card-text h1{
    font-size: 40px;
}
.card-box{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30PX;
    gap: 30PX;
    
}
.card{
    background-color: aliceblue;
    padding: 10px;
}
#card-head{
    margin-top: 0px;
    margin: 0 auto;
    align-items: center;
    max-width: 80%;
    margin-bottom: 100px;
}

.card-box .card img{
    background-color: #F95555;
    border-radius: 100px;
    padding: 10px;
}
/* Second Brain Section */
#brain{
    display: flex;
    gap: 60px;
    margin: 0 auto;
    align-items: center;
    max-width: 80%;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right h1{
    font-size: 40px;
}
.check-circle{
    display: flex;
    align-items: center;
}
/* important css */
.early-body{
    height: 400px;
    background-color: rgb(243, 224, 202);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    max-width: 80%;
    margin-bottom: 100px;
}
/* .early-access{
    flex-direction: column;
    text-align: center;
    justify-content: center;   
} */
.btn-4{
    background-color: green;
    border: none;
    color:aliceblue;
    padding: 5px 10px; 
    border-radius: 5px;
}
.btn-4:hover{
    background-color: rgb(245, 118, 118);
}

#footer{
    background-color: rgba(38, 42, 61, 0.89);
    height: 300px;
}
.footer-content{
    margin: 0 auto;
    justify-content: space-between;
    max-width: 80%;
    display: flex;

    align-items: center;
}
.footer-last{
    max-width: 80%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    color: azure;
}